################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
*.user
obj/
RecipeManager.Core/obj/
RecipeManager.Core/bin/
src/Properties/PublishProfiles/RecipeManagerAPI - Web Deploy.pubxml
src/.config/dotnet-tools.json
src/appsettings.prod.json
